body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  height: 100vh;
  background-color: #8d8c8c;
  display: flex;
}

.flex_container {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.pole {
  width: 75%;
  height: 100vh;
  background-color: #6e6e6e;
  border-right: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas {
  width: 95%;
  height: 95%;
  background-color: red;
}

.moving_container {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.1);
  z-index: 1;
  align-content: flex-start;
}
.moving_container:hover {
  cursor: pointer;
}

#moving_container1 {
  left: -60px;
  top: -100px;
}

#moving_container2 {
  left: -60px;
  top: 100px;
}

#moving_container3 {
  left: -60px;
  top: 300px;
}

#moving_container4 {
  left: -60px;
  top: 500px;
}

#moving_container1::before {
  content: 'крыша';
}

#moving_container2::before {
  content: 'стойки';
}

#moving_container3::before {
  content: 'настил';
}

#moving_container4::before {
  content: 'забор';
}

#moving_container1::before,
#moving_container2::before,
#moving_container3::before,
#moving_container4::before {
  position: absolute;
  width: 100%;
  font-size: 45px;
  top: -52px;
  background-color: bisque;
  text-align: center;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  background-color: aqua;
  z-index: 2;
}

#card1-2,
#card2-2,
#card3-2,
#card4-2 {
  background-color: rgb(177, 177, 177);
  z-index: 2;
}

#card1-3,
#card2-3,
#card3-3,
#card4-3 {
  background-color: rgb(115, 255, 0);
  z-index: 2;
}

#card1-4,
#card2-4,
#card3-4,
#card4-4 {
  background-color: rgb(255, 174, 0);
  z-index: 2;
}
